@model TocaLivrosTeste.MVC.ViewModels.ClienteViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

    </dl>
</div>
<div id="pedidosCliente" data-codigo="@Model.ClienteId"></div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ClienteId }) |
    @Html.ActionLink("Voltar", "Index")
</p>

@section scripts{
    <script type="text/javascript">
        $(document).ready(carregaPartialView);
        function carregaPartialView() {
            var id = $("#pedidosCliente").data('codigo');
            var url = "/Pedidos/PedidosPorCliente/" + id;
            $('#pedidosCliente').load(url);
        }
    </script>   
    }
